.intro__list {
    max-width: 690px;
    list-style: none;
    margin: 33px 0 0 0;
    padding: 0;
}

@media screen and (min-width:320px) and (max-width:767px){
    .intro__list {
        max-width: 288px;
    }
  }
  @media screen and (min-width:768px) and (max-width:1023px) {
    .intro__list {
        max-width: 720px;
    }
  }
  
  @media screen and (min-width:1024px) and (max-width:1279px) {
    .intro__list {
        max-width: 690px;
    }
  }
  
