.lead {
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top:  56px;
}

@media screen and (min-width:320px) and (max-width:767px){
    .lead {
      max-width: 320px;
      padding-top: 48px;
    }
  }
  
  @media screen and (min-width:768px) and (max-width:1023px) {
    .lead {
      max-width: 768px;
      padding-top: 48px;
    }
  }
  
  @media screen and (min-width:1024px) and (max-width:1279px) {
    .lead {
      max-width: 928px;
      padding-top: 48px;
    }
  }
  