.cover__subtitle {
    max-width: 360px;
    margin: 32px auto 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    color: #fff;
    text-align: center;
    z-index: 1;
}

@media screen and (max-width:767px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 114%;
        margin: 16px auto 0;
    }
}