.lead__title {
    max-width: 720px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    }

@media screen and (min-width:320px) and (max-width:767px){
        .lead__title {
            font-size: 40px;
            line-height: 44px;
        }
      }
      
