.place__paragraph {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #fff;
    margin: 0;       
    max-width: 456px;
    padding-bottom: 26px;
}

.place__paragraph:last-child {
    padding: 0;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .place__paragraph {
        max-width: 288px;
        font-size: 16px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
    }
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .place__paragraph {
        max-width: 456px;
    }
}