.lead__subtitle {
    max-width: 644px;
    margin: 32px auto 64px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #fff;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 125%;
        max-width: 288px;
    }
}
