.cover {
    padding-top: 92px;
    position: relative;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .cover {
        max-width: 1024px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .cover {
        max-width: 768px;
        padding-top: 90px;
    }
}

@media screen and (min-width:320px) and (max-width:767px) {
    .cover {
        max-width: 320px;
        padding-top: 66px;
    }
}

