.place__link {
    max-width: 456px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity .5s ease;
    margin: 0;
}

.place__link:hover {
    opacity: .8;
}

@media screen and (max-width:1023px) {
    .place__link {
        max-width: 352px;
    }
}

@media screen and (max-width:767px) {
    .place__link {
        max-width: 288px;
    }
}


