.lead__caption {
    margin: 8px 0 0 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
}

@media screen and (max-width:768px){
    .lead__caption {
       padding-left: 24px;
    }
  }
