.cover__overlay-link {
    position: relative;
    text-decoration: none;
    background-image: url('../../../images/cover-trains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 740px;

}

.cover__overlay-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: .3;
    transition: opacity .3s linear;
}

.cover__overlay-link:hover::before {
    opacity: .8;
}

@media (max-width: 1279px) {
    .cover__overlay-link {
       min-height: 640px;
    }
}

@media (max-width: 1023px) {
    .cover__overlay-link {
        min-height: 480px;
    }
}

@media (max-width: 767px) {
    .cover__overlay-link {
        min-height: 200px;
    }
}