.cover__overlay-link {
    position: relative;
    text-decoration: none;
    background-image: url('../../../images/cover-trains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cover__overlay-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: .3;
    transition: opacity .3s linear;
}

.cover__overlay-link:hover::before {
    opacity: .8;
}

