.footer {
    max-width: 1184px;
    padding-top: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .footer {
        max-width: 720px;
        padding-top: 88px;
    }
}

@media screen and (min-width:320px) and (max-width:767px) {
    .footer {
        max-width: 186px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        margin: 0;
        padding: 64px 118px 24px 16px;
    }
}

