.place__url-heading {
    max-width: 456px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin:0 0 12px 0;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .place__url-heading {
        line-height: 100%;
        max-width: 352px;
    }
}

@media screen and (min-width:320px) and (max-width:767px) {
    .place__url-heading {
        line-height: 100%;
        max-width: 288px;
    }
}


