.place__website {
    justify-self: start;
    align-self: end;
    margin: 0;
}

@media screen and (max-width:320px) and (max-width:767px) {
    .place__website {
        margin: 0 16px 0 16px;
    }
}