.into__title {
    max-width: 690px;
    min-height: 58px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #fff;
    margin: 0;
}

@media screen and (min-width:320px) and (max-width:767px){
    .into__title {
        font-size: 32px;
        line-height: 109%;
    }
  }
  
  